@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qrpver');
  src:  url('../fonts/icomoon.eot?qrpver#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qrpver') format('truetype'),
    url('../fonts/icomoon.woff?qrpver') format('woff'),
    url('../fonts/icomoon.svg?qrpver#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dollar:before {
  content: "\e900";
}
.icon-shopping-cart:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-paste1:before {
  content: "\e92e";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram1:before {
  content: "\ea94";
}
.icon-whatsapp1:before {
  content: "\ea95";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-phone-square:before {
  content: "\f098";
}
.icon-globe:before {
  content: "\f0ac";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-paper-plane:before {
  content: "\f1d8";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-check:before {
  content: "\f00c";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-ellipsis-v:before {
  content: "\f142";
}
.icon-shopping-basket:before {
  content: "\f291";
}
