body {
    background-color: $color-whitebeige;
    margin:0;
    min-height: 100%;
}


h1 {
    font: $subtittle-producto;
    color: $color-greendark;
    font-size: 3rem;
    padding: 1rem;
}
p {
    font: $p-body;
    color: $color-black;
}

h3 {
    font: $subtittle-producto;;
    color: $color-greendark;
}

h4 {
    font: $subtittle-producto;
    color: $color-greenB;
}

h5 {
    font: $subtittle-producto;
}

i{
    font: $p-body;
    color: $color-salmon;
}

.card-footer {
    background-color:$color-salmon ;
}

footer {
background: $color-gradient-green;
padding: 50px;
bottom: 0;
        p{
            color:$color-whitebeige ;  
        }
        li {
            list-style: none;
            padding: 5px;
            a{
                text-decoration: none;
                color:$color-whitebeige ;
                font-size: 1.2rem;
            
            i{
                color: $color-whitebeige;
                font-size: 1.2rem;
            }
            }
            a:hover {
                text-decoration: none;
                color: $color-salmon ;
            }
        }
}

img.logo-marca {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 40%;
    margin-top: 60px;
}
