// tipografias //
$p-body: normal 16px/1rem 'Open Sans', sans-serif;
$tittle-font: normal 20px/2rem 'Orelega One', cursive;
$subtittle-producto: normal 26px/2rem 'Orelega One', cursive;


//colores//
$color-yellow: #f1e189;
$color-greenB: #96bb7c;
$color-salmon: #e9896a;
$color-beige: #f2edd7;
$color-whitebeige: #fcfbf5;
$color-black: #333233;
$color-greenlight: #cde2b5;
$color-greendark: #81c49b;
$color-gradient-green:  linear-gradient(#96bb7c, #81c49b);

