
.comprar {
    color: $color-whitebeige;
    background: $color-gradient-green;
    border-color: $color-greenB;
    i{
        color: $color-whitebeige;
    }

}
button:hover {
    color: $color-greendark;
    background: $color-whitebeige;
    border-color: $color-greenB; 
    i{
        color: $color-greendark;
    }  
}

#botonShow {
    background-color: #ffffff;
    color: $color-greendark;
    border-color:$color-greendark;
    border-radius: 5px;
    i{
    color: $color-greendark;
    }
}
